
#Ignore visual studio user specific files
*.vs

#Ignore visual studio user specific settings
*.user

#Ignore build files
Build/Debug/Intermediate/
Build/Debug/Primrose.exe
Build/Debug/Primrose.pdb